.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  flex: 1;
  margin-right: 10px;
}

input[type='file'] {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button {
  padding: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.result {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.result h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.result p {
  font-size: 1.2rem;
}

.next-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #e64a19;
}

.image-preview {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
